@tailwind base;
h1 {
    @apply text-2xl;
}
h2 {
    @apply text-xl;
}
h3 {

    @apply text-lg;
}
p {
    font-size: 18px;
    font-family: sans-serif;
}
a {
    /*@apply;*/
}
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
}

body {
    background: #cad2c5;
}
img{
}
